/* body {
  background-image: url(docs/purty_wood.png);
} */
.tag {
  width: 125px;
  font-weight: bold;
}
.navbar {
  background-color: #b1f6cb;
}
.banner-image {
  border: solid black 1px;
  margin: 0 auto;
  height: 60%;
  width: 100%;
  background-position: center;
  /* background-image: url(./docs/banner.png); */
  background-size: cover;
}
.main-content .column {
  border: solid gray 1px;
} 
.fa-2x {
  margin-right: 15px;
}
.main-section {
  border: solid green 1px;
}

.input {
  text-align: center;
  color: black;
  font-size: medium;
}










